@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid main-page-bg">
    <div class="row justify-content-start align-items-start vh-100">
        <div class="col-md-4 text-dark ml-4 mt-4">
            <h1 class="display-4 mb-4" style="font-size: 60px;"><strong>Welcome</strong></h1>
            <p class="lead text-white"><strong>Excellence. Simply Delivered.</strong></p>
            <a href="#" class="btn btn-lg btn-primary">Get Started</a>
        </div>
    </div>
</div>
